@import "tailwindcss";
@import "@repo/tailwind-config";

:root {
  --font-display-family: "Barlow Condensed";
  --font-sans-family: "Schibsted Grotesk";
}

html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
}
